<header>
    <div class="container">
      <nav class="navbar">
        <div class="navbar_container">
           <a href="" id="navbar_logo"><i class="fa fa-heartbeat" aria-hidden="true"></i>Airbnb</a> 
           <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
           </div>
           <ul class="navbar_menu" >
               <li class="navbar_item">
                   <a href="/" class="navbar_links" >Home</a>
               </li>
               <li class="navbar_item">
                <a href="#" id="login_popup_btn" class="navbar_links">Login</a>
                </li>
                <li class="navbar_item">
                    <a href="#"  id="signup_popup_btn" class="navbar_links">Sign Up</a>
                </li>
                <li class="navbar_item">
                    <a href="/BecomeAHost" class="navbar_links">Become a host</a>
                </li>
                <li class="navbar_btn" >
                      <a href="/" href="#search_form" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                </li>
           </ul>
        </div>
    </nav>
</header>